.social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    @include tablet {
        justify-content: flex-start;
    }

    @include desktop {
        justify-content: flex-start;
    }

    a {
        display:inline-block;
    }
    a img {
        display:block;
        width: 8.773vw;
        margin: 5.333vw 2.1335vw;

        @include tablet {
            width: 4.284vw;
            margin: 0 2.083vw 2.083vw 0;
        }

        @include desktop {
            width: 2.056vw;
            margin: 0 1vw 1.250vw 0;
        }
    }
}