.wrapper {
    background: black;
    position: relative;
    @extend .center-all;
    @extend .column;
    padding: 40px 0;
}

header {
    background-color: black;
    width: 100%;
    @extend .center-all;
    height: 100vh;
}

.hero {
    @extend .phone-col-10;
    color: $white;
    @extend .center-all;
    @extend .column;
    text-align: center;
}

.cc {
    font-family: 'Larish Neue Semibold';
    text-align: center;
    color: $white;
    text-transform: uppercase;
    align-self: center;
    overflow: hidden;
    &.cc-outline{
        -webkit-text-stroke: 1px $white;
        color: rgba(255, 255, 255, 0);
    }
}

.hero-footer{
    @extend .phone-col-10;
    @extend .desktop-col-20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: absolute;
    bottom: 40px;
    opacity: 0;
}

.bear {
    width: 53px;
    height: 29px;
}

#ele, #sfdw, .legal {
    @include phone {
        line-height: 5.333vw;
    }
    @include tablet {
        line-height: 3.125vw;
    }
    @include desktop {
        line-height: 1.750vw;
    }
}