<!DOCTYPE html>
<html>
{% include './partials/head.njk' %}

<body>
    <div class='line'>
        {% include '../content/images/line.svg' %}
    </div>
    {% include './templates/hero.njk' %}
    {% include './templates/story.njk' %}
    {% include './templates/action.njk' %}
    {% include './templates/goldenbear.njk' %}
    {% include './templates/rosebear.njk' %}
    {% include './templates/footer.njk' %}
    {% include './partials/cta.njk' %}

    <script src='./scripts.js'></script>
</body>

</html>