<meta property="og:title" content="California Calling" />
<meta property="og:type" content="website" />
{# <meta property="og:url" content="https://californiacalling.cc" /> #}
<meta property="og:image" content="https://californiacalling.s3.amazonaws.com/Facebook+-+Linkedin.jpg" />
<meta property="og:description" content="California Calling is an Elephant initiative for San Francisco Design Week that aims raise funds for the victims of the 2018 California wildfires."/>

<meta property="twitter:title" content="California Calling" />
<meta property="twitter:card" content="summary" />
<meta property="twitter:image" content="https://californiacalling.s3.amazonaws.com/Twitter.jpg" />
<meta property="twitter:description" content="California Calling is an Elephant initiative for San Francisco Design Week that aims raise funds for the victims of the 2018 California wildfires."/>