<div class="social">
    <a href="https://www.facebook.com/events/1302773639878723/?notif_t=event_calendar_create&notif_id=1560436292065770" target="_blank"  rel="noopener">
        <img src="./images/fb.png"/>
    </a>
    <a href="https://www.instagram.com/elephant_is/" target="_blank"  rel="noopener">
        <img src="./images/ig.png"/>
    </a>
    <a href="https://www.linkedin.com/company/hello-elephant" target="_blank"  rel="noopener">
        <img src="./images/li.png"/>
    </a>
</div>