@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }
  99% {
    opacity: 0;
    display: block; }
  100% {
    opacity: 0;
    display: none; } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  99% {
    opacity: 0;
    display: block; }
  100% {
    opacity: 0;
    display: none; } }

@-webkit-keyframes fadeInMoveUp {
  0% {
    opacity: 0;
    position: absolute; }
  25% {
    opacity: 1;
    margin-top: 0; }
  35% {
    width: 5.3vw;
    margin-top: -3.1vw; }
  89% {
    width: 100vw;
    margin-top: -3.1vw; }
  100% {
    margin-top: -3.1vw;
    width: 100vw;
    position: absolute; } }

@keyframes fadeInMoveUp {
  0% {
    opacity: 0;
    position: absolute; }
  25% {
    opacity: 1;
    margin-top: 0; }
  35% {
    width: 5.3vw;
    margin-top: -3.1vw; }
  89% {
    width: 100vw;
    margin-top: -3.1vw; }
  100% {
    margin-top: -3.1vw;
    width: 100vw;
    position: absolute; } }

@-webkit-keyframes fadeInExpand {
  0% {
    opacity: 0;
    position: absolute; }
  25% {
    opacity: 1;
    margin-top: 0; }
  35% {
    width: 5.3vw;
    margin-top: 3.1vw; }
  100% {
    width: 100vw;
    margin-top: 3.1vw;
    position: absolute; } }

@keyframes fadeInExpand {
  0% {
    opacity: 0;
    position: absolute; }
  25% {
    opacity: 1;
    margin-top: 0; }
  35% {
    width: 5.3vw;
    margin-top: 3.1vw; }
  100% {
    width: 100vw;
    margin-top: 3.1vw;
    position: absolute; } }

@-webkit-keyframes overlayMove {
  0% {
    opacity: 1;
    left: 42vw; }
  43% {
    left: 42vw; }
  60% {
    opacity: 1;
    left: 40vw; }
  95% {
    left: 85vw;
    opacity: 1; }
  100% {
    left: 85vw;
    opacity: 0; } }

@keyframes overlayMove {
  0% {
    opacity: 1;
    left: 42vw; }
  43% {
    left: 42vw; }
  60% {
    opacity: 1;
    left: 40vw; }
  95% {
    left: 85vw;
    opacity: 1; }
  100% {
    left: 85vw;
    opacity: 0; } }

@-webkit-keyframes fade-in-down {
  0% {
    margin-top: -1%;
    opacity: 0; }
  100% {
    margin-top: 0;
    opacity: 1; } }

@keyframes fade-in-down {
  0% {
    margin-top: -1%;
    opacity: 0; }
  100% {
    margin-top: 0;
    opacity: 1; } }

@-webkit-keyframes fade-in-up {
  0% {
    margin-top: 1%;
    opacity: 0; }
  100% {
    margin-top: 0;
    opacity: 1; } }

@keyframes fade-in-up {
  0% {
    margin-top: 1%;
    opacity: 0; }
  100% {
    margin-top: 0;
    opacity: 1; } }

@font-face {
  font-family: 'WorkSans';
  src: url("./fonts/WorkSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-family: 'WorkSans';
  width: 100%;
  overflow-x: hidden; }

.line {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0; }
  .line svg {
    width: 1px;
    height: 50vh; }

.black, .goldenbear, footer {
  background-color: #000;
  color: #FFF; }

.flex, .center-all, .wrapper, header, .hero, .foot-content, .sponsor-logos, .cta, .legend, .legend-cell {
  display: flex; }

.center-all, .wrapper, header, .hero, .foot-content, .sponsor-logos, .cta {
  justify-content: center;
  align-items: center; }

.row {
  flex-direction: row; }

.column, .wrapper, .hero, .legend, .foot-content, .sponsor-logos {
  flex-direction: column; }

.hidden {
  display: none; }

@media (min-width: 768px) and (max-width: 991px) {
  .md-hidden {
    display: none; } }

@media (max-width: 991px) {
  .sm-hidden {
    display: none; } }

@media (min-width: 992px) {
  .lg-hidden {
    display: none; } }

.fade-in {
  -webkit-animation: fade-in 1s linear forwards;
          animation: fade-in 1s linear forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s; }

.fade-in-down {
  -webkit-animation: fade-in-down 1s cubic-bezier(0.59, 0, 0.45, 0.99) forwards;
          animation: fade-in-down 1s cubic-bezier(0.59, 0, 0.45, 0.99) forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s; }

.fade-in-up {
  -webkit-animation: fade-in-up 1s cubic-bezier(0.59, 0, 0.45, 0.99) forwards;
          animation: fade-in-up 1s cubic-bezier(0.59, 0, 0.45, 0.99) forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s; }

@media (min-width: 992px) {
  .desktop-col-1, .bear-content p:first-of-type {
    width: 4.16667%; } }

@media (min-width: 992px) {
  .desktop-col-2 {
    width: 8.33333%; } }

@media (min-width: 992px) {
  .desktop-col-3 {
    width: 12.5%; } }

@media (min-width: 992px) {
  .desktop-col-4 {
    width: 16.66667%; } }

@media (min-width: 992px) {
  .desktop-col-5, .action img:nth-of-type(2), .action img:nth-of-type(3), .action img:nth-of-type(6) {
    width: 20.83333%; } }

@media (min-width: 992px) {
  .desktop-col-6, .action img:first-child, .action img:nth-of-type(4), .action img:nth-of-type(5), .bear-content h1 {
    width: 25%; } }

@media (min-width: 992px) {
  .desktop-col-7, .bears-carousel {
    width: 29.16667%; } }

@media (min-width: 992px) {
  .desktop-col-8, .action img:last-child, .action-copy-1 p, .action-copy-2 p {
    width: 33.33333%; } }

@media (min-width: 992px) {
  .desktop-col-9 {
    width: 37.5%; } }

@media (min-width: 992px) {
  .desktop-col-10, .action-copy-1 h1, .action-copy-2 h1, .bear-content h3, .bear-content p:last-of-type {
    width: 41.66667%; } }

@media (min-width: 992px) {
  .desktop-col-11, .foot-content h2 {
    width: 45.83333%; } }

@media (min-width: 992px) {
  .desktop-col-12 {
    width: 50%; } }

@media (min-width: 992px) {
  .desktop-col-13 {
    width: 54.16667%; } }

@media (min-width: 992px) {
  .desktop-col-14, .bear-content img.shirt, .map-wrap {
    width: 58.33333%; } }

@media (min-width: 992px) {
  .desktop-col-15 {
    width: 62.5%; } }

@media (min-width: 992px) {
  .desktop-col-16 {
    width: 66.66667%; } }

@media (min-width: 992px) {
  .desktop-col-17 {
    width: 70.83333%; } }

@media (min-width: 992px) {
  .desktop-col-18 {
    width: 75%; } }

@media (min-width: 992px) {
  .desktop-col-19 {
    width: 79.16667%; } }

@media (min-width: 992px) {
  .desktop-col-20, .hero-footer, .story-copy {
    width: 83.33333%; } }

@media (min-width: 992px) {
  .desktop-col-21 {
    width: 87.5%; } }

@media (min-width: 992px) {
  .desktop-col-22 {
    width: 91.66667%; } }

@media (min-width: 992px) {
  .desktop-col-23 {
    width: 95.83333%; } }

@media (min-width: 992px) {
  .desktop-col-24 {
    width: 100%; } }

@media (max-width: 991px) {
  .phone-col-1, .legend-cell p {
    width: 8.33333%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .tablet-col-1 {
    width: 8.33333% !important; } }

@media (max-width: 991px) {
  .phone-col-2 {
    width: 16.66667%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .tablet-col-2 {
    width: 16.66667% !important; } }

@media (max-width: 991px) {
  .phone-col-3 {
    width: 25%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .tablet-col-3 {
    width: 25% !important; } }

@media (max-width: 991px) {
  .phone-col-4 {
    width: 33.33333%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .tablet-col-4 {
    width: 33.33333% !important; } }

@media (max-width: 991px) {
  .phone-col-5 {
    width: 41.66667%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .tablet-col-5, .action-copy-1 h1, .action-copy-2 h1 {
    width: 41.66667% !important; } }

@media (max-width: 991px) {
  .phone-col-6, .action img:nth-of-type(2), .action img:nth-of-type(6) {
    width: 50%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .tablet-col-6, .action img:first-child, .action img:nth-of-type(3), .action img:nth-of-type(4) {
    width: 50% !important; } }

@media (max-width: 991px) {
  .phone-col-7, .rosebear .bear-content h1 {
    width: 58.33333%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .tablet-col-7, .action img:nth-of-type(5), .action img:nth-of-type(6) {
    width: 58.33333% !important; } }

@media (max-width: 991px) {
  .phone-col-8, .story-copy, .action img:first-child, .action img:last-child, .action-copy-1 h1, .action-copy-1 p, .action-copy-2 h1, .action-copy-2 p, .bear-content h1, .bear-content p, .bear-content h3, .bear-content img.shirt {
    width: 66.66667%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .tablet-col-8, .foot-content {
    width: 66.66667% !important; } }

@media (max-width: 991px) {
  .phone-col-9, .action img:nth-of-type(3), .action img:nth-of-type(5), .action img:nth-of-type(4) {
    width: 75%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .tablet-col-9, .action img:last-child {
    width: 75% !important; } }

@media (max-width: 991px) {
  .phone-col-10, .hero, .hero-footer, .foot-content {
    width: 83.33333%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .tablet-col-10 {
    width: 83.33333% !important; } }

@media (max-width: 991px) {
  .phone-col-11 {
    width: 91.66667%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .tablet-col-11 {
    width: 91.66667% !important; } }

@media (max-width: 991px) {
  .phone-col-12 {
    width: 100%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .tablet-col-12, .legend-cell p {
    width: 100% !important; } }

@media (min-width: 992px) {
  .offset-desktop-col-24 {
    margin-left: 100%; } }

@media (min-width: 992px) {
  .offset-desktop-col-23 {
    margin-left: 95.83333%; } }

@media (min-width: 992px) {
  .offset-desktop-col-22 {
    margin-left: 91.66667%; } }

@media (min-width: 992px) {
  .offset-desktop-col-21 {
    margin-left: 87.5%; } }

@media (min-width: 992px) {
  .offset-desktop-col-20 {
    margin-left: 83.33333%; } }

@media (min-width: 992px) {
  .offset-desktop-col-19, .action img:nth-of-type(3) {
    margin-left: 79.16667%; } }

@media (min-width: 992px) {
  .offset-desktop-col-18 {
    margin-left: 75%; } }

@media (min-width: 992px) {
  .offset-desktop-col-17 {
    margin-left: 70.83333%; } }

@media (min-width: 992px) {
  .offset-desktop-col-16, .action img:first-child {
    margin-left: 66.66667%; } }

@media (min-width: 992px) {
  .offset-desktop-col-15, .action img:nth-of-type(5) {
    margin-left: 62.5%; } }

@media (min-width: 992px) {
  .offset-desktop-col-14 {
    margin-left: 58.33333%; } }

@media (min-width: 992px) {
  .offset-desktop-col-13 {
    margin-left: 54.16667%; } }

@media (min-width: 992px) {
  .offset-desktop-col-12, .bear-content h3, .bear-content p:last-of-type {
    margin-left: 50%; } }

@media (min-width: 992px) {
  .offset-desktop-col-11, .action img:last-child {
    margin-left: 45.83333%; } }

@media (min-width: 992px) {
  .offset-desktop-col-10 {
    margin-left: 41.66667%; } }

@media (min-width: 992px) {
  .offset-desktop-col-9 {
    margin-left: 37.5%; } }

@media (min-width: 992px) {
  .offset-desktop-col-8, .action-copy-1 h1, .action-copy-1 p, .action-copy-2 h1, .action-copy-2 p, .rosebear .bear-content .shirt, .map-wrap {
    margin-left: 33.33333%; } }

@media (min-width: 992px) {
  .offset-desktop-col-7 {
    margin-left: 29.16667%; } }

@media (min-width: 992px) {
  .offset-desktop-col-6 {
    margin-left: 25%; } }

@media (min-width: 992px) {
  .offset-desktop-col-5 {
    margin-left: 20.83333%; } }

@media (min-width: 992px) {
  .offset-desktop-col-4, .action img:nth-of-type(4) {
    margin-left: 16.66667%; } }

@media (min-width: 992px) {
  .offset-desktop-col-3 {
    margin-left: 12.5%; } }

@media (min-width: 992px) {
  .offset-desktop-col-2, .story-copy, .legend, .bear-content p:first-of-type, .bear-content h1, .bear-content img.shirt, .rosebear .bear-content .bears-carousel, .foot-content {
    margin-left: 8.33333%; } }

@media (min-width: 992px) {
  .offset-desktop-col-1, .action img:nth-of-type(2) {
    margin-left: 4.16667%; } }

@media (max-width: 991px) {
  .offset-phone-col-12 {
    margin-left: 100%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .offset-tablet-col-12 {
    margin-left: 100% !important; } }

@media (max-width: 991px) {
  .offset-phone-col-11 {
    margin-left: 91.66667%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .offset-tablet-col-11 {
    margin-left: 91.66667% !important; } }

@media (max-width: 991px) {
  .offset-phone-col-10 {
    margin-left: 83.33333%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .offset-tablet-col-10 {
    margin-left: 83.33333% !important; } }

@media (max-width: 991px) {
  .offset-phone-col-9 {
    margin-left: 75%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .offset-tablet-col-9 {
    margin-left: 75% !important; } }

@media (max-width: 991px) {
  .offset-phone-col-8 {
    margin-left: 66.66667%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .offset-tablet-col-8 {
    margin-left: 66.66667% !important; } }

@media (max-width: 991px) {
  .offset-phone-col-7 {
    margin-left: 58.33333%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .offset-tablet-col-7, .action img:first-child, .action img:nth-of-type(3) {
    margin-left: 58.33333% !important; } }

@media (max-width: 991px) {
  .offset-phone-col-6 {
    margin-left: 50%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .offset-tablet-col-6 {
    margin-left: 50% !important; } }

@media (max-width: 991px) {
  .offset-phone-col-5 {
    margin-left: 41.66667%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .offset-tablet-col-5 {
    margin-left: 41.66667% !important; } }

@media (max-width: 991px) {
  .offset-phone-col-4 {
    margin-left: 33.33333%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .offset-tablet-col-4 {
    margin-left: 33.33333% !important; } }

@media (max-width: 991px) {
  .offset-phone-col-3, .action img:first-child, .action img:last-child {
    margin-left: 25%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .offset-tablet-col-3, .action img:nth-of-type(5) {
    margin-left: 25% !important; } }

@media (max-width: 991px) {
  .offset-phone-col-2, .story-copy, .legend, .action img:nth-of-type(3), .action img:nth-of-type(5), .action-copy-1 h1, .action-copy-1 p, .action-copy-2 h1, .action-copy-2 p, .bear-content h1, .bear-content p, .bear-content h3, .bear-content img.shirt {
    margin-left: 16.66667%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .offset-tablet-col-2, .action img:last-child {
    margin-left: 16.66667% !important; } }

@media (max-width: 991px) {
  .offset-phone-col-1, .action img:nth-of-type(2), .action img:nth-of-type(6), .action img:nth-of-type(4), .foot-content, .map-wrap {
    margin-left: 8.33333%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .offset-tablet-col-1, .action img:nth-of-type(6) {
    margin-left: 8.33333% !important; } }

button {
  font-family: 'WorkSans';
  background-color: transparent;
  color: #FFF;
  border: 1px solid #AAA;
  letter-spacing: -0.5px;
  text-align: center;
  transition: 0.5s; }
  @media (max-width: 991px) {
    button {
      padding: 19.5px 21px;
      font-size: 4.267vw;
      letter-spacing: -0.133vw;
      line-height: 6.400vw; } }
  @media (min-width: 768px) and (max-width: 991px) {
    button {
      padding: 1.302vw 4.297vw;
      font-size: 3.125vw; } }
  @media (min-width: 992px) {
    button {
      padding: 19.5px 42px;
      font-size: 1.500vw;
      letter-spacing: -0.031vw;
      line-height: 1.750vw; } }
  button:hover {
    background-color: #FFF;
    border: 1px solid #FFF;
    color: #000; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  font-family: 'Larish Neue Semibold'; }

@media (max-width: 991px) {
  h1 {
    font-size: 12.800vw;
    letter-spacing: -0.267vw;
    line-height: 12.800vw; } }

@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 13.021vw; } }

@media (min-width: 992px) {
  h1 {
    font-size: 7.5vw;
    letter-spacing: 0.063vw;
    line-height: 6.250vw; } }

@media (max-width: 991px) {
  h2 {
    font-size: 8.533vw;
    letter-spacing: 0.063vw;
    line-height: 9.600vw; } }

@media (min-width: 992px) {
  h2 {
    font-size: 3.25vw;
    letter-spacing: -0.063vw;
    line-height: 3.5vw; } }

@media (max-width: 991px) {
  h3 {
    font-size: 6.400vw;
    letter-spacing: -0.063vw;
    line-height: 7.467vw; } }

@media (min-width: 992px) {
  h3 {
    font-size: 2.250vw;
    letter-spacing: -0.031vw;
    line-height: 2.500vw; } }

p {
  font-family: 'WorkSans'; }
  @media (max-width: 991px) {
    p {
      font-size: 4.267vw;
      letter-spacing: -0.133vw;
      line-height: 6.400vw; } }
  @media (min-width: 768px) and (max-width: 991px) {
    p {
      font-size: 3.125vw; } }
  @media (min-width: 992px) {
    p {
      font-size: 1.500vw;
      letter-spacing: -0.031vw;
      line-height: 1.750vw; } }
  @media (max-width: 991px) {
    p small {
      font-size: 4.267vw;
      letter-spacing: -0.133vw;
      line-height: 6.400vw; } }
  @media (min-width: 992px) {
    p small {
      font-size: 1vw;
      letter-spacing: 0px;
      line-height: 1.250vw; } }

a {
  text-decoration: none;
  color: inherit; }

.wrapper {
  background: black;
  position: relative;
  padding: 40px 0; }

header {
  background-color: black;
  width: 100%;
  height: 100vh; }

.hero {
  color: #FFF;
  text-align: center; }

.cc, .year {
  font-family: 'Larish Neue Semibold';
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  align-self: center;
  overflow: hidden; }
  .cc.cc-outline, .year {
    -webkit-text-stroke: 1px #FFF;
    color: rgba(255, 255, 255, 0); }

.intro-animation {
  opacity: 0;
  position: absolute;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 5;
  -webkit-animation: fade-out 1s linear forwards;
          animation: fade-out 1s linear forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s; }
  .intro-animation .cc, .intro-animation .year {
    width: 5.3vw; }
  .intro-animation .cc-outline, .intro-animation .year {
    -webkit-animation: fadeInExpand 5s cubic-bezier(0.4, 0.01, 0.25, 1) forwards;
            animation: fadeInExpand 5s cubic-bezier(0.4, 0.01, 0.25, 1) forwards; }
  .intro-animation .cc-top {
    -webkit-animation: fadeInMoveUp 5s cubic-bezier(0.4, 0.01, 0.25, 1) forwards;
            animation: fadeInMoveUp 5s cubic-bezier(0.4, 0.01, 0.25, 1) forwards; }
  .intro-animation .overlay {
    position: absolute;
    background: linear-gradient(90deg, #ffffff00, #000000, #000000, #000000, #000000, #000000);
    width: 100vw;
    left: 42vw;
    height: 100vh;
    -webkit-animation: overlayMove 4s cubic-bezier(0.9, 0.45, 0.25, 0.7) forwards;
            animation: overlayMove 4s cubic-bezier(0.9, 0.45, 0.25, 0.7) forwards; }

.hero-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: absolute;
  bottom: 40px;
  opacity: 0; }

.bear {
  width: 53px;
  height: 29px; }

.story {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  padding-top: 150px;
  overflow-x: hidden;
  position: relative;
  z-index: 1; }

@media (max-width: 991px) {
  .story-copy h1 {
    font-size: 8.533vw;
    letter-spacing: -0.133vw;
    line-height: 9.600vw; } }

@media (min-width: 768px) and (max-width: 991px) {
  .story-copy h1 {
    font-size: 6.771vw;
    letter-spacing: -0.130vw;
    line-height: 8.333vw; } }

@media (min-width: 992px) {
  .story-copy h1 {
    line-height: 8.25vw; } }

.legend {
  position: relative;
  z-index: 4;
  margin-top: -75vw;
  margin-bottom: 25vw; }
  @media (min-width: 768px) and (max-width: 991px) {
    .legend {
      margin-top: -65vw; } }
  @media (min-width: 992px) {
    .legend {
      margin-top: -40vw;
      margin-bottom: 21.75vw; }
      .legend p {
        margin-top: 0;
        margin-bottom: 0; } }
  .legend svg {
    width: 8%;
    margin: 0; }
  .legend h1 {
    margin-top: 2.1%;
    margin-bottom: 6.4%; }
    @media (min-width: 992px) {
      .legend h1 {
        margin-top: 1.25vw;
        margin-bottom: 3%; } }

.legend-cell {
  align-items: center; }
  .legend-cell p {
    margin-left: 2.1%; }
  .legend-cell:last-of-type {
    margin-bottom: 6.4%; }
  @media (min-width: 768px) and (max-width: 991px) {
    .legend-cell svg {
      width: 2.5vw; }
    .legend-cell:first-of-type {
      margin-bottom: 45vw; }
    .legend-cell:last-of-type {
      margin-top: -40vw;
      margin-bottom: 0;
      order: -1; } }
  @media (min-width: 992px) {
    .legend-cell svg {
      width: 1.5vw; }
    .legend-cell:first-of-type {
      margin-bottom: 25vw;
      margin-top: 1.250vw;
      order: 2; }
    .legend-cell:last-of-type {
      margin-top: -44.688vw;
      margin-bottom: 0;
      order: 1; } }

.action {
  overflow-y: visible;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 3; }
  .action img {
    width: auto;
    height: auto; }
  .action img:first-child {
    margin-top: -12%;
    margin-bottom: 10.4%; }
    @media (min-width: 992px) {
      .action img:first-child {
        margin-top: -5vw;
        margin-bottom: 0; } }
  .action img:nth-of-type(2), .action img:nth-of-type(6) {
    margin-bottom: 10.4%; }
  @media (min-width: 768px) and (max-width: 991px) {
    .action img:nth-of-type(2) {
      margin-left: -16.66667% !important;
      margin-top: -20vw; } }
  @media (min-width: 992px) {
    .action img:nth-of-type(2) {
      margin-top: -3.25vw;
      margin-bottom: 0; } }
  .action img:nth-of-type(3), .action img:nth-of-type(5) {
    margin-bottom: 10.4%; }
  @media (min-width: 992px) {
    .action img:nth-of-type(3) {
      margin-bottom: 3.25vw;
      margin-top: -6.5vw; } }
  .action img:nth-of-type(4) {
    margin-bottom: 10.4%; }
    @media (min-width: 768px) and (max-width: 991px) {
      .action img:nth-of-type(4) {
        margin-left: 0;
        margin-top: -35vw; } }
    @media (min-width: 992px) {
      .action img:nth-of-type(4) {
        margin-bottom: 0; } }
  @media (min-width: 992px) {
    .action img:nth-of-type(5) {
      margin-top: -3vw;
      margin-bottom: 6.625vw; } }
  @media (min-width: 992px) {
    .action img:nth-of-type(6) {
      margin-top: -12vw;
      margin-bottom: 7vw; } }
  .action img:last-child {
    margin-bottom: -7%;
    order: 1; }
    @media (min-width: 992px) {
      .action img:last-child {
        margin-bottom: -3.5vw; } }

.action-copy-1 p, .action-copy-2 p {
  margin-bottom: 10.4%; }
  @media (min-width: 992px) {
    .action-copy-1 p, .action-copy-2 p {
      margin-bottom: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .action-copy-2 {
    order: 1; } }

@media (min-width: 992px) {
  .action-copy-1 h1 {
    margin-top: -1.5vw; } }

.goldenbear {
  overflow: hidden;
  padding-top: 25%;
  margin-bottom: 25%; }
  .goldenbear .bear-content {
    color: #FFF;
    overflow-y: visible;
    z-index: 2;
    margin-bottom: -25%; }
  @media (min-width: 992px) {
    .goldenbear {
      padding-top: 11.250vw; }
      .goldenbear .bears-carousel {
        margin-left: 62.5%;
        margin-top: -65vw; } }

.spin-wrap {
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
  height: 30vh;
  background-color: white;
  z-index: 1; }
  @media (min-width: 768px) and (max-width: 991px) {
    .spin-wrap {
      height: 40vh; } }
  @media (min-width: 992px) {
    .spin-wrap {
      height: 31.250vw;
      margin-bottom: -1px; } }

.cc-spin {
  position: absolute;
  margin-top: -20%;
  margin-left: 64%;
  width: 65%;
  z-index: 0;
  -webkit-animation: spin;
          animation: spin;
  -webkit-animation-duration: 15000ms;
          animation-duration: 15000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }
  @media (min-width: 992px) {
    .cc-spin {
      width: 31.250vw;
      margin-top: -7vw;
      margin-left: 79.16667%; } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.bear-content {
  position: relative;
  z-index: -1; }
  @media (min-width: 992px) {
    .bear-content h3, .bear-content p:last-of-type {
      -webkit-transform: translateY(-16vw);
              transform: translateY(-16vw); } }
  .bear-content img {
    margin: 17% 0; }
    @media (min-width: 992px) {
      .bear-content img {
        margin: 0; }
        .bear-content img.shirt {
          -webkit-transform: translateY(-12.75vw);
                  transform: translateY(-12.75vw); } }
  @media (min-width: 768px) and (max-width: 991px) {
    .bear-content h3 {
      font-size: 4.688vw;
      letter-spacing: -0.065vw;
      line-height: 5.208vw; } }

.rosebear {
  background-color: transparent;
  position: relative;
  z-index: 2; }
  .rosebear .bear-content {
    margin-top: -50vw; }
    @media (min-width: 768px) and (max-width: 991px) {
      .rosebear .bear-content {
        margin-top: -50vw; } }
    @media (min-width: 992px) {
      .rosebear .bear-content {
        margin-top: -29.750vw; }
        .rosebear .bear-content .shirt {
          margin-top: -55vw; }
        .rosebear .bear-content .bears-carousel {
          z-index: 4;
          -webkit-transform: translateY(-24vw);
                  transform: translateY(-24vw);
          margin-bottom: -5vw; } }
  @media (min-width: 992px) {
    .rosebear {
      margin-bottom: -7vw; } }

footer {
  position: relative;
  overflow: hidden; }

.date-banner {
  background-color: #EEE;
  color: #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  padding: 8px 0;
  width: 150%;
  margin-top: 10vh;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  text-transform: uppercase; }
  @media (min-width: 992px) {
    .date-banner {
      width: 150vw;
      margin-top: 18vw; } }

.year {
  -webkit-text-stroke-color: #000; }

.date-list {
  padding-right: 1.5vw;
  -webkit-animation: ticker 15s infinite linear;
          animation: ticker 15s infinite linear; }

@-webkit-keyframes ticker {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

@keyframes ticker {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

.foot-content {
  padding-top: 240px;
  padding-bottom: 80px;
  text-align: center; }
  @media (min-width: 768px) and (max-width: 991px) {
    .foot-content {
      text-align: left;
      justify-content: flex-start;
      align-items: flex-start; } }
  @media (min-width: 992px) {
    .foot-content {
      text-align: left;
      justify-content: flex-start;
      align-items: flex-start; } }
  @media (max-width: 991px) {
    .foot-content h2 {
      margin: 24px 0; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .foot-content h2 {
      font-size: 6.771vw;
      letter-spacing: -0.130vw;
      line-height: 7.292vw;
      margin-bottom: 7.292vw; } }
  @media (min-width: 992px) {
    .foot-content h2 {
      margin-top: 1.500vw;
      margin-bottom: 3.500vw; } }

@media (min-width: 768px) and (max-width: 991px) {
  .sponsor-logos {
    flex-direction: row;
    justify-content: flex-start; } }

@media (min-width: 992px) {
  .sponsor-logos {
    flex-direction: row;
    align-self: flex-end;
    margin-right: 8.33333%; } }

.sponsor-logos img {
  margin: 56px 0 0 0; }
  @media (min-width: 768px) and (max-width: 991px) {
    .sponsor-logos img {
      margin: 56px 40px 0 0; } }
  @media (min-width: 992px) {
    .sponsor-logos img {
      margin: 0 2.625vw 0 0; } }

.legal {
  margin-top: 56px; }

.footer-bottom p {
  margin: 0; }

@media (min-width: 768px) and (max-width: 991px) {
  .footer-bottom {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between; } }

@media (min-width: 992px) {
  .footer-bottom {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; }
    .footer-bottom .legal {
      margin-top: 12.500vw; } }

.map-wrap {
  position: relative;
  margin-top: 24px; }
  @media (max-width: 991px) {
    .map-wrap {
      width: 134%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .map-wrap {
      margin-left: 0;
      width: 120%; } }

.wildfire, .office {
  position: absolute;
  opacity: 0; }
  .wildfire svg, .office svg {
    width: 3.5vw; }
  @media (min-width: 992px) {
    .wildfire svg, .office svg {
      width: 1.5vw; } }

#SF {
  top: 44.5%;
  left: 15%; }

#LA {
  top: 83.75%;
  left: 54.75%; }

#fire-0, #fire-1, #fire-3, #fire-4 {
  left: 18.5%; }

#fire-2, #fire-19 {
  left: 34.4%; }

#fire-5, #fire-6, #fire-14, #fire-15, #fire-16 {
  left: 21.25%; }

#fire-9, #fire-10, #fire-11 {
  left: 11.25%; }

#fire-12, #fire-13 {
  left: 14%; }

#fire-18 {
  left: 41.5%; }

#fire-20 {
  left: 45.25%; }

#fire-21, #fire-22, #fire-23 {
  left: 48%; }

#fire-17 {
  left: 38.75%; }

#fire-24 {
  left: 50.5%; }

#fire-0 {
  top: 0; }

#fire-1 {
  top: 2%; }

#fire-2 {
  top: 6.4%; }

#fire-3, #fire-5 {
  top: 11%; }

#fire-4, #fire-6 {
  top: 13%; }

#fire-7, #fire-8 {
  left: 25%; }

#fire-7 {
  top: 25%; }

#fire-8, #fire-9 {
  top: 27%; }

#fire-10, #fire-12 {
  top: 29%; }

#fire-11, #fire-13 {
  top: 31%; }

#fire-14 {
  top: 33.5%; }

#fire-15 {
  top: 35.5%; }

#fire-16, #fire-17, #fire-18 {
  top: 37.5%; }

#fire-19, #fire-20, #fire-21 {
  top: 44.5%; }

#fire-22 {
  top: 79.25%; }

#fire-23, #fire-24 {
  top: 81.25%; }

.animate-in {
  -webkit-animation: fade-in 0.4s linear forwards;
          animation: fade-in 0.4s linear forwards; }

.cta {
  width: 100vw;
  background-color: #000;
  color: #FFF;
  border-top: 1px solid #AAA;
  position: fixed;
  bottom: 0;
  z-index: 5;
  height: 17.067vw;
  margin-bottom: -17.067vw;
  transition: 0.5s; }
  .cta p {
    margin-left: 4.267vw; }
  .cta .bear svg {
    width: 10.933vw; }
  @media (min-width: 768px) and (max-width: 991px) {
    .cta {
      height: 8.333vw;
      margin-bottom: -8.4vw; }
      .cta p {
        margin-left: 3.125vw; }
      .cta .bear svg {
        width: 7.031vw; } }
  @media (min-width: 992px) {
    .cta {
      height: 4vw;
      margin-bottom: -4.2vw; }
      .cta p {
        margin-left: 1.500vw; }
      .cta .bear svg {
        width: 3.375vw; } }
  .cta:hover {
    background-color: #FFF;
    border-top: 1px solid #000;
    color: #000; }
    .cta:hover .bear svg #CC-v4 {
      fill: #000; }
  .cta:hover {
    background-color: #000;
    border-top: 1px solid #AAA;
    color: #FFF; }
    .cta:hover .bear svg #CC-v4 {
      fill: #FFF; }

.bears-carousel {
  margin: 17% 0;
  clear: both; }
  .bears-carousel .slick-slide {
    height: auto;
    margin: 0 24px; }
    @media (min-width: 768px) and (max-width: 991px) {
      .bears-carousel .slick-slide {
        margin: 0 40px; } }
    @media (min-width: 992px) {
      .bears-carousel .slick-slide {
        height: auto;
        margin: 0; } }
  .bears-carousel .slick-prev, .bears-carousel .slick-next {
    border: none;
    margin-bottom: 2.500vw;
    width: 3.813vw; }
    .bears-carousel .slick-prev:hover, .bears-carousel .slick-next:hover {
      background-color: transparent; }

.goldenbear .slick-next {
  position: absolute;
  top: 0;
  right: 0; }

.goldenbear .slick-prev {
  margin-left: 19.8vw; }

.rosebear .slick-next #CC-v6-Desktop, .rosebear .slick-prev #CC-v6-Desktop {
  fill: #000; }

.rosebear .slick-next {
  position: absolute;
  top: 0;
  right: 19.8vw; }

.rosebear .slick-prev {
  margin-left: 0; }
