
@font-face {
  font-family: 'WorkSans';
  src: url('./fonts/WorkSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Larish';
  src: url('./fonts/larish_neue_semibold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
