body {
    margin: 0;
    padding: 0;
    font-family: 'WorkSans';
    width: 100%;
    overflow-x: hidden;
}

.line {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;

    svg {
        width: 1px;
        height: 50vh;
    }
}

.black {
    background-color:$black;
    color: $white;
}

.flex {
    display: flex;
}

.center-all {
    @extend .flex;
    justify-content: center;
    align-items: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.hidden {
    display: none;
}

.md-hidden {
    @include tablet {
        display: none;
    }
}

.sm-hidden {
    @include phone {
        display: none;
    }
}

.lg-hidden {
    @include desktop {
        display: none;
    }
}

.fade-in {
    animation: fade-in 1s linear forwards;
    animation-delay: 4s;
}

.fade-in-down {
    animation: fade-in-down 1s cubic-bezier(.59,0,.45,.99) forwards;
    animation-delay: 5s;
}

.fade-in-up {
    animation: fade-in-up 1s cubic-bezier(.59,0,.45,.99) forwards;
    animation-delay: 5s;
}