h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Larish Neue Semibold';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

h1 {
    @include phone {
        font-size: 12.800vw;
        line-height: 12.800vw;
    }

    @include tablet {
        font-size: 13.021vw;
    }

    @include desktop {
        font-size: 7.5vw;
        line-height: 6.250vw;
    }
}

h2 {
    @include phone {
        font-size: 8.533vw;
        letter-spacing: 0.063vw;
        line-height: 9.600vw;
    }

    @include desktop {
        font-size: 3.25vw;
        letter-spacing: -0.063vw;
        line-height: 3.5vw;
    }
}

h3 {
    @include phone {
        font-size: 6.400vw;
        letter-spacing: -0.063vw;
        line-height: 7.467vw;
    }

    @include desktop {
        font-size: 2.250vw;
        letter-spacing: -0.031vw;
        line-height: 2.500vw;
    }
}

p{
    font-family: 'WorkSans';

    @include phone {
        font-size: 4.267vw;
        letter-spacing: -0.133vw;
        line-height: 6.400vw;
    }

    @include tablet {
        font-size: 3.125vw;
    }

    @include desktop {
        font-size: 1.500vw;
        letter-spacing: -0.031vw;
        line-height: 2.250vw;
    }

    small{
        @include phone {
            font-size: 4.267vw;
            letter-spacing: -0.133vw;
            line-height: 6.400vw;
        }

        @include desktop {
            font-size: 1vw;
            letter-spacing: 0px;
            line-height: 1.250vw;
        }
    }
}

a {
    text-decoration: none;
    color: inherit;
}