<section class="action">
    <img id="action1" src='./images/action1.JPG'/>
    <img id="action2" src='./images/action2.JPG'/>
    <div class='action-copy-1'>
        <h1>Stuck in <br class="md-hidden"/>the middle.</h1>
        <p>Surrounded by smoke and inspired by the communities’ resilience, our design team reimagined the California Grizzly and used it to create custom tees, pins, and posters.</p>
    </div>
    <img id="action3" src='./images/action3.JPG'/>
    <img id="action4" src='./images/action4.JPG'/>
    <img id="action5" src='./images/action5.JPG'/>
        <div class='action-copy-2'>
            <p>We’ll be giving away pins and posters at our pop-up shop during the SF Design Week Studio Crawl on June 21. T-shirt designs will be available for purchase and we’re letting you choose what you pay. Proceeds will go to help the communities who were displaced as a result of the wildfires.</p>
        </div>
    <img id="action6" src='./images/action6.JPG'/>

    <img id="action7" src='./images/action7.JPG'/>
</section>