<section class="action">
    <img id="action1" src='./images/action1.JPG' alt="Man placing shirt on silk screening board"/>
    <img id="action2" src='./images/action2.JPG' alt="Hands applying paint to silk screening board"/>
    <article class='action-copy-1'>
        <h1>Stuck in <br class="md-hidden"/>the middle.</h1>
        <p>Surrounded by smoke and inspired by the communities’ resilience, our design team reimagined the California Grizzly and used it to create custom tees, pins and posters.</p>
    </article>
    <img id="action3" src='./images/action3.JPG' alt="Rose Bear shirt being placed to dry"/>
    <img id="action4" src='./images/action4.JPG' alt="Poppy Bear shirts finished and folded"/>
    <img id="action5" src='./images/action5.JPG' alt="Machine drawing Rose Bear image on a stencil"/>
    <article class='action-copy-2'>
        <p>Our t-shirts (kids and adult sizes), pins, and posters will be available for purchase at our exclusive pop-up shop during our SF Design Week Studio Crawl this Friday, June 21. You can choose what amount to donate. All proceeds will go to the American Red Cross to help the communities that are still displaced.</p>
    </article>
    <img id="action6" src='./images/action6.JPG' alt="Poppy Bear stencil"/>
    <img id="action7" src='./images/action7.JPG' alt="Workshop and workers handling shirts"/>
</section>