<footer>
    <section class="date-banner">
        <h1 class="date-list">June  21, <span class="year">2019</span> June  21, <span class="year">2019</span> June  21, <span class="year">2019</span></h1>
    </section>
    <section class="foot-content">
        <p>Come party with us</p>
        <h2>Mark your calendar for our SF Design Week Studio Crawl. In addition to custom swag, we’ll also have a DJ, a mixologist, and other cool surprises we can’t tell you about yet.</h2>
        <button>Go to event page</button>
        <div class='footer-bottom'>
            <div class="sponsor-logos">
                <img src='./images/ele-logo-sm.png'/>
                <img src='./images/sfdw-sm.png'/>
                <img src='./images/ngo-logo-sm.png'/>
            </div>

            <div class="legal">
                <p>2019</p>
                <p>Made by Elephant for the community</p>
                <p>SF Design Week partnership</p>
            </div>
        </div>
    </section>
</footer>