<footer id="footer">
    <section class="date-banner">
        <h1 class="date-list">June  21, <span class="year">2019</span> June  21, <span class="year">2019</span> June  21, <span class="year">2019</span></h1>
    </section>
    <section class="foot-content">
        <p id="party">Come party with us</p>
        <h2 id="foot-copy">Mark your calendar for our SF Design Week Studio Crawl. In addition to custom swag, we’ll also have a DJ, a mixologist, and other cool surprises we can’t tell you about yet.</h2>
        <button><a href="https://www.eventbrite.com/e/elephant-studio-crawl-san-francisco-design-week-2019-tickets-63313109214" target="_blank">Go to event page</a></button>
        <div class='footer-bottom'>
            <div class="sponsor-logos">
                <img src='./images/ele-logo.png'/>
                <img src='./images/sfdw-logo.png'/>
                <img src='./images/ngo-logo.png'/>
            </div>

            <div class="legal">
                {% include '../partials/social.njk' %}
                <p>Made by <a href="https://elephant.is/" target="_blank" style="text-decoration: underline">Elephant</a> for the community</p>
                <p>SF Design Week partnership</p>
                <p>2019</p>
            </div>
        </div>
    </section>
</footer>