<section id="goldenbear" class='goldenbear'>
    <article class="bear-content">
        <p>001</p>
        <h1>The Golden Bear</h1>
        <img class="shirt lg-hidden" src='./images/goldenbear.png' alt="Golden Bear design created by Kevin Lam"/>
        <h3>This design is all about the resilience of California to overcome difficult situations and come out stronger than before. It’s a flip of the UNC Tarheel mascot with added elements like the California poppy.</h3>
        <p>&#8212; Kevin Lam, Artist</p>
        <img id="gbc" class="shirt sm-hidden" src='./images/goldenbear.png' alt="Golden Bear design created by Kevin Lam"/>
        <div class="bears-carousel">
            <img src='./images/bianca.png' alt="Bianca Rivera modeling the Golden Bear shirt"/>
            <img src='./images/gb2.png' alt="Golden Bear pins"/>
            <img src='./images/gb3.png' alt="Golden Bear poster"/>
        </div>
    </article>
    <div class="spin-wrap">
        <img class='cc-spin' src='./images/cc-circle-2.png' alt="California Calling circle spinning"/>
    </div>
</section>