<section id="goldenbear" class='goldenbear'>
    <div class="bear-content">
        <p>001</p>
        <h1>The Golden Bear</h1>
        <img class="shirt lg-hidden" src='./images/goldenbear.png'/>
        <h3>This design is all about the resilience of California to overcome difficult situations and come out stronger than before. It’s a flip of the UNC Tarheel mascot with added elements like the California poppy.</h3>
        <p>&#8212; Kevin, Designer at Elephant</p>
        <img id="gbc" class="shirt sm-hidden" src='./images/goldenbear.png'/>
        <div class="bears-carousel">
            <img src='./images/bianca.png'/>
            <img src='./images/bianca.png'/>
            <img src='./images/bianca.png'/>
        </div>
    </div>
    <div class="spin-wrap">
        <img class='cc-spin' src='./images/cc-circle-2.png'/>
    </div>
</section>