<section class='rosebear'>
    <article class="bear-content">
        <p>002</p>
        <h1>The Poppy Bear</h1>
        <img class="shirt lg-hidden" src='./images/rosebear.png'/>
        <h3>This design is inspired by the quote ‘grow through what you go through’ and represents the strength of Californians and how we will continue to thrive, regardless of what knocks us down.</h3>
        <p>&#8212; Alyssa Wigant, Artist</p>
        <div class="bears-carousel">
            <img src='./images/michael.png'/>
            <img src='./images/michael.png'/>
            <img src='./images/michael.png'/>
        </div>
        <img class="shirt sm-hidden" src='./images/rosebear.png'/>
    </article>
</section>