<section class='story'>
        <div class='story-copy parallax__layer parallax__layer--base'>
            <h1>Last year, nearly 2 million acres were devastated by the deadliest, most destructive wildfires in California history.</h1>
        </div>
        {% include '../partials/map.njk' %}
        <aside class="legend">
            <div class="legend-cell offset-tablet-col-7 offset-desktop-col-15">{% include '../../content/images/dot.svg' %}<p>Elephant Offices</p></div>
            <div class="legend-cell offset-tablet-col-6 offset-desktop-col-14">{% include '../../content/images/triangle.svg' %}<p>Wildfires</p></div>

            <p>Total Fires</p>
            <h1 id="fire-num">0</h1>

            <p>Damages</p>
            <h1>$<span id="damage-num">0</span></h1>

            <p>Acres burned</p>
            <h1 id="burn-num">0</h1>
        </aside>
</section>